div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid #000000;
    display: inline-block;
}
#box1{
    position: static;
    top: 20px;
    bottom: 20px;
}
#box2{
    position: relative;
    top: 50px;
    left: 1000px;
    bottom: 400px;
    top: 400px;
}
#box3{
    position: absolute;
    top: 10px;
    left: 30px;
}
#box4{
    position: fixed;
    right: 10px;
    bottom: 400px;
}
#box5{
    position: fixed;
   top: 0PX;
   left: 20px;
}