div{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}
@media (max-width : 300px){       /*kam */
    div{
        background-color: green;
    }
}
@media (min-width : 300px) and (max-width : 400px){
    div{
        background-color: pink;
    }
}
@media (min-width : 400px) and (max-width : 600px){
    div{
        background-color: red;
    }
}
@media(min-width : 600px){     /*jayda */
    div{
        background-color: blue;
    }
}